body{
    overflow-x: hidden;
    background-color: #d9e4f5;
background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);  
}

*{
    margin: 0;
    padding: 0;
}

/*Fonts */
@font-face{
    font-family: 'Roboto';
    src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Open Sans';
    src: url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
    font-weight: 400;
    font-style: normal;
}

:root{
 --main-font: Raleway, sans-serif;
 --secondary-font: 'Raleway', sans-serif;
 --main-color: #F8F8FF;
}

/*Navigation */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: var(--main-font);
}

/* Navbar */
.navbar {
    font-size: 18px;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf   100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}
.main-nav {
    list-style-type: none;
}

.navbar img{
    width: 150px;
    height: 150px;
}

img{
    font-size: 24px;
}
.nav-links,
.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}
.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.main-nav img{
    width: 20px;
    height: 20px;
}

.active {
    display: block;
  }



/*Icons */
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  /* Styles */
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .google {
    background: #dd4b39;
    color: white;
  }

  /*Container */
  .container{
      background-image: url(Images/Smile_Model_Brown_haired_Glance_Beautiful_Gray_572108_1920x1080.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 500px;
    }

    .container h1{
        position: relative;
        top: 30%;
        text-align: center;
    }

    .container img{
     height: 300px;
     width: 300px;
    }

    .container img{
        position: relative;
        top: 20%;
     display: block;
  margin-left: auto;
  margin-right: auto;
        clip-path: polygon(5% 5%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    }


    .container h1:hover{
     color:var(--main-color);
    }

    /*Service container */
    .headings{
        text-align: center;
        font-size: 1rem;
        margin-top: 30px;
    }

    h3{
        text-align: center;
        position: relative;
        top: 50%;
    }

    h2{
        text-align: center;
        position: relative;
        top: 50%;
    }

    /*Boxes */

    .box1{
     background: url('Images/10-2500x1667.jpg') no-repeat;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     height: 300px;
    }

    .links{
        text-decoration: none;
        outline: none;
        color: black;
    }

    .box2{
        background: url('Images/1001-5616x3744.jpg') no-repeat;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 300px;
    }
    
    .box3{
        background: url('Images/1005-5760x3840.jpg') no-repeat;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .box4{
        background: url('Images/1006-3000x2000.jpg') no-repeat;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    /*Service */
    .service-list{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin-top: 20px;
    }


    /*Footer */

    .footer{
        height: 100px;
    }

    .list{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        padding: 10px;
        margin-top: 20px;
    }
    .footer-items{
        display: block;
    }

    .footer-items a{
        float: left;
        margin: 20px;
    }

    .footer1{
        text-align: center;
        height: 50px;
    }

    .attributes{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 200px;
        margin-top: 60px;
    }
  
  @media(min-width: 500px){
    .navbar-toggle {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer; 
        color: rgba(255,255,255,0.8);
        font-size: 24px;
    }
    .search-bar{
        position: absolute;
        top: 10px;
        font-size: 24px;
        right: 70px;
    }
    
    .main-nav {
        list-style-type: none;
        display: none;
    }

    .logo img{
     width: 100px;
     height: 100px;
    }

    .active{
        display: block;
    }

    .footer-items{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer{
        height: 400px;
    }

    .footer-items a{
    }

    .attributes{
        display: grid;
        grid-template-columns: 1fr
    }

  }


  @media(min-width: 768px){
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    li a{
    
    }

    .container{
        margin-top: 0px;
    }
    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .main-nav li {
        margin: 0;
    }

    .search-bar{
        display: none;
    }
    .nav-links {
        margin-left: 40px;
    }
    .logo {
        margin-top: 0;
    }
   .navbar-toggle {
       display: none;
    }
    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }

    .footer-items{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-items a{
        float: left;
    }

    .attributes{
        display: grid;
        grid-template-columns: 1fr;
    }
  }


